<div style="text-align: center">
  <h1> Frequently Asked Questions </h1>
  <br>
  <h3> What is the Textbook Bazaar? <h3>
  <h3> The Textbook Bazaar is a website where TCNJ students can buy or sell their textbooks to other TCNJ students </h3>
<br>

<h3> What are 'safe meeting places'? </h3>
<h3> Safe meeting places are places to meet that are very public.  Examples include places such as the student center of library. Meeting at places lile this during the day help ensure your safety when going to meet a prospective buyer/seller </h3>
