<% if current_user %>
<h2 style="text-align:center">Welcome to the Textbook Bazaar <%= current_user.name %> </h2>
<br> <%=link_to "Logout", logout_path%>
<br> 
<div style = "white-space: pre-line">
<%= current_user.message %>
</div>
<%else %>
<h2 style="text-align:center">Welcome to the Textbook Bazaar </h2>
<br> <%= link_to "Login", login_path %>
<% end%>
