<h2 style="text-align:center"> Sell a Textbook </h2>
<form style = "text-align:center">
	Name of Textbook </br> <input type="text" id="name"> </br>
	Condition </br> <input type="text" id="condition"> </br>
	Edition </br> <input type="text" id="edition"> </br>
	Class </br> <input type="text" id="class"> </br>
</form>

<div style = "text-align:center">
	<button style = "font-size: 20px"> Post! </button>
</div>

