<h2 style="text-align:center"> Browse Textbooks </h2>

<form style = "text-align: center; font-size:20px">
	Name of Textbook: <br/>
	<input type="text">
</form>
</br>
<div style = "text-align: center">
  <button style = "font-size:20px"> Search </button>

<br><br>
  <%= link_to "Browse All", browse_all_path_url%>

</div>
